
<div>
	<div dojoType="dijit.Toolbar" style="font-weight:bold;">
		<div style="font-size:110%;font-style:italic;color:#777;padding-top:6px;padding-left:2em;">
			Sankadantai.com For Administrator :　
			<span dojoAttachPoint="menubarLabel" style="font-style:normal;color:#77F;"></span>
		</div>
		<div style="padding-right:2em;" align="right">
			<!--<div dojoType="bt.menubar.MenubarButton" dojoAttachPoint="menubarButtonTop" label="トップ" iconClass="dijitIcon dijitIconUsers"></div>-->
			<!--<div dojoType="app.MenubarButton" dojoAttachPoint="menubarButtonOpen" label="シート選択" iconClass="dijitIcon dijitIconFolderOpen"></div>-->
			<div dojoType="app.MenubarButton" dojoAttachPoint="menubarButtonTop" label="トップ/シート選択" iconClass="dijitIcon dijitIconFolderOpen"></div>
			<div dojoType="app.MenubarButton" dojoAttachPoint="menubarButtonView" label="情報閲覧" iconClass="dijitIcon dijitLeaf"></div>
			<div dojoType="app.MenubarButton" dojoAttachPoint="menubarButtonEdit" label="シート編集" iconClass="dijitIcon dijitIconEditTask"></div>
			<div dojoType="app.MenubarButton" dojoAttachPoint="menubarButtonOutput" label="データ出力" iconClass="dijitIcon dijitIconPrint"></div>
			<div dojoType="app.MenubarButton" dojoAttachPoint="menubarButtonOthers" label="その他" iconClass="dijitIcon dijitIconFunction"></div>
		</div>
	</div>
</div>

