<div class="appPost" dojoAttachPoint="top">
  <!-- <div class="appPostMenu" dojoAttachPoint="sheetMenu"> -->
  <!-- 	<span dojoAttachPoint="btToggle">[hide]</span>&nbsp; -->
  <!-- 	<span dojoAttachPoint="btClose">[close]</span>&nbsp; -->
  <!-- </div> -->
  <span class="appPostDatetime"dojoAttachPoint="appDatetime"></span>
  <div class="appPostHead" dojoAttachPoint="postHead">
	[ No.${data.count} ]&nbsp;&nbsp;<span dojoAttachPoint="appUserName"></span>
  </div>
  <div class="appPostBody" dojoAttachPoint="postBody">${data.body}</div>
</div>
