<div dojoAttachPoint="top">
  <div dojoAttachPoint="divTitle"></div>
  <div class="appTopicUnitWrite" dojoAttachPoint="divWrite">
	<div dojoAttachPoint="divEditor">
	</div>
	<div class="appTopicUnitButtons">
	  <div dojoAttachPoint="divSubmit" dojoType="dijit.form.Button" label="この内容で書き込む"></div>
	  <div dojoAttachPoint="boxAnonymous" style="float:right;">
		<div dojoAttachPoint="divAnonymous" dojoType="dijit.form.CheckBox" style=""></div>
		<span dojoAttachPoint="spanLabel">匿名で書き込む</span>
	  </div>
	  <div style="clear:both;"></div>
	 </div>
  </div>
  <div dojoAttachPoint="divPosts"></div>
</div>
