<div style="border:0;;width:100%;height:100%;">
  <div dojoType="dijit.layout.BorderContainer" dojoAttachPoint="border" region="center" style="width:100%;height:100%;">
	
	<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="sidemenu" region="left" splitter="true" style="width:280px;padding:0px;${gBorder}${gBackground}">
	</div>
	
	<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="main" region="center" splitter="true" style="${gBorder}${gBackground}">
	  data
	</div>
	
  </div>
</div>
